<%- include('../partials/head') %> 

<h1>All Cars</h1>
<ul>
    <% cars.forEach((car)=>{ %>
        <h1><%= car.make%></h1>
        <li>Year: <%= car.year%></li>
        <li>Used: <%= car.isUsed ? "Yes" : "No" %></li>
   <% }) %>
   <a href="/">Go Back</a>
</ul>

<%- include('../partials/footer') %> 